.order-search__title {
  @include font(400, 32, 38);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .order-search__title {
    @include font(400, 64, 64);
  }
}

@media screen and (min-width: 1440px) {
  .order-search__title  {
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 106PX;
  }
}
