.composition__title {
  @include font(400, 30, 38);
  margin: 0;
}

@media screen and (min-width: 768px) {
  .composition__title {
    @include font(400, 64, 64);
    max-width: 600px;
  }
}

@media screen and (min-width: 1440px) {
  .composition__title {
    margin-bottom: 100px;
  }
}
