.composition__item {
  @include font(400, 14, 18);
  &:not(:last-child) {
    padding-bottom: 14px;
    margin-bottom: 14px;
    border-bottom: 1px solid #000000;
  }
}

@media screen and (min-width: 768px) {
  .composition__item {
    @include font(400, 18, 28);
    &:not(:last-child) {
      padding-bottom: 30px;
      margin-bottom: 30px;
      border-bottom: 1px solid #000000;
    }
  }
}

@media screen and (min-width: 1440px) {
  .composition__item {
    &:not(:last-child) {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
  }
}
