.composition__text {
  @include font(400, 14, 18);
  &:not(:last-of-type) {
    margin: 0px 2px 36px 2px;
  }
  &:last-of-type {
    margin: 0px 2px 30px 2px;
  }
}

@media screen and (min-width: 768px) {
  .composition__text {
    max-width: 400px;
    @include font(400, 18, 28);
    &:not(:last-of-type) {
      margin: 0px 4px 20px 4px;
    }
    &:last-of-type {
      margin: 0px 4px 60px 4px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .composition__text {
    &:last-of-type {
      margin-bottom: 198px;
    }
  }
}
