.enroll__send-button {
  cursor: pointer;
  @include font(400, 11, 24);
  border-radius: 0px 8px 8px 0px;
  border: 2px solid #000000;
  border-left: none;
  background-color: $white-bg;
  min-width: 107px;
  &:active {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .enroll__send-button {
    font-size: 14px;
    min-width: 205px;
    &:hover {
      font-weight: 700;
    }
  }
}
