@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}

.header__logo {
  width: 30px;
  height: 30px;
  &:hover {
    animation: rotation 2s infinite linear;
  }
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 1440px) {
  .header__logo {
    width: 40px;
    height: 40px;
  }
}

