.camera__text-feedback {
  text-transform: lowercase;
  @include font(400, 24, 26);
  margin: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  .camera__text-feedback {
    @include font(400, 43, 43);
    margin-bottom: 60px;
    max-width: 526px;
  }
}
