.photo-course__text {
  @include font(400, 14, 18);
  margin: 0 2px 30px 2px;
}

@media screen and (min-width: 768px) {
  .photo-course__text {
    @include font(400, 20, 28);
    margin-bottom: 60px;
    max-width: 469px;
  }
}

@media screen and (min-width: 1440px) {
  .photo-course__text {
    margin-bottom: 170px;
    grid-column: 1;
    grid-row: 2;
  }
}
