.footer__copyright {
  @include font(700, 12, 24);
  margin: 0 0 0 20px;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    @include font(700, 15, 24);
    margin-left: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .footer__copyright {
    margin-left: 50px;
  }
}
