.button {
  cursor: pointer;
  color: $black-font;
  border: 2px solid #000000;
  border-radius: 9999px;
  min-width: 169px;
  background-color: $white-bg;
  padding: 4px 0;
  @include font(400, 14, 28);
  &:active {
    font-weight: 700;
  }
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 18px;
    padding: 10px 0;
    min-width: 228px;
    &:hover {
      font-weight: 700;
    }
  }
}

@media screen and (min-width: 1440px) {
  .button {
    width: 228px;
  }
}
