.enroll__label {
  cursor: pointer;
  @include font(400, 48, 50);
  display: block;
  &:first-of-type {
    padding-top: 20px;
    border-top: 1px solid #FFFFFF;
  }
  &:not(:last-of-type) {
    margin-bottom: 10px;
  }
  &:last-of-type {
    margin-bottom: 200px;
  }
}

@media screen and (min-width: 768px) {
  .enroll__label {
    @include font(400, 100, 100);
    &:first-of-type {
      padding-top: 0;
      border-top: none;
    }
    &:last-of-type {
      margin-bottom: 190px;
    }
  }
}

@media screen and (min-width: 1440px) {
  .enroll__label {
    @include font(400, 120, 120);
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
    &:last-of-type {
      margin-bottom: 120px;
    }
    &:first-of-type::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 50px;
      width: 129px;
      height: 95px;
      background-image: url("../images/enroll-arrow.svg");
    }
  }
}
