.order-search__text {
  @include font(400, 14, 18);
  margin: 0 0 30px 0;
}

@media screen and (min-width: 768px) {
  .order-search__text {
    @include font(400, 18, 28);
    margin-bottom: 60px;
    max-width: 380px;
  }
}

@media screen and (min-width: 1440px) {
  .order-search__text {
    margin-top: 24px;
    margin-bottom: 148px;
    grid-column: 2;
    grid-row: 3;
  }
}
