.camera__text {
  text-transform: uppercase;
  @include font(400, 14, 20);
  margin: 0 0 60px 0;
}

@media screen and (min-width: 768px) {
  .camera__text {
    @include font(400, 18, 28);
    margin-bottom: 180px;
  }
}

@media screen and (min-width: 1440px) {
  .camera__text {
    margin-top: 359px;
  }
}

